@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
}
.navTrans{
  background: transparent;
  color: aliceblue;
  position: absolute;
  z-index: 50;
  padding: 2.5rem;
  width: 100%;
  border: 1px solid rgba(151, 148, 148, 0.5) ;

}
.navTrans:hover{
  background:#D8AC9C;
}

.solidNav{
  background: #D8AC9C;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 2.5rem;
}
 