@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
}
.input{
  border: none;
  border-radius: 0;
  width: 100%;
}
.input:focus{
  outline: none;
}
